<br>
<br>

<form action="/answer" class="col-sm-6 col-sm-offset-3">
  <div class="form-group">
    <label for="usr">Say something to your coach:</label>
    <input type="text" name="query" class="form-control">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
